{% extends 'base.html.twig' %}

{% block title %}Edit PuppeteerReplay{% endblock %}

{% block body %}
    <h1>Edit PuppeteerReplay</h1>

    {{ include('puppeteer_replay/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_puppeteer_replay_index') }}">back to list</a>

    {{ include('puppeteer_replay/_delete_form.html.twig') }}
{% endblock %}
