<div class="flex-row text-center mx-auto">
    <img src="{{ asset('build/media/login-light.png') }}" alt="{{ layout.admin.logoText }}" width="520" class="img-fluid authentication-cover-img"/>
    <div class="mx-auto">
        <h3>{{ '%appName% ile i ak覺lar覺n覺z覺 kolayca y繹netin'|trans({'%appName%': layout.admin.logoText})}} 戊</h3>
        <p>
            Bir sonraki b羹y羹k projelerinize ve uygulamalar覺n覺za balaman覺za yard覺mc覺 olan <br/> t羹m gelitirici seviyeleri i癟in m羹kemmel ekilde uygundur.
        </p>
    </div>
</div>