<li class="nav-item dropdown-style-switcher dropdown me-2 me-xl-0">
    <a class="nav-link hide-arrow" href="{{ path('app_admin_file_sharing_index') }}">
        <i class="bx bx-sm bx-cloud-upload"></i>
    </a>
</li>