<div class="navbar-nav align-items-center">
    <div class="nav-item navbar-search-wrapper mb-0">
        <a class="nav-item nav-link search-toggler px-0" href="{{ path('app_admin_search_index') }}">
            <i class="bx bx-search-alt bx-sm"></i>
            <span class="d-none d-md-inline-block">{{ 'Ara'|trans }} (Ctrl+U)</span>
        </a>
    </div>
</div>