<div class="card-body">
    <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-primary">
            {% set btnText = label is defined ? label : 'Kaydet'|trans %}
            {% set btnIcon = icon is defined ? icon : '' %}
            <i class="{{ btnIcon }}"></i> {{ btnText }}
        </button>
    </div>
</div>