<div class="card-body">
    <div class="d-flex justify-content-end">
        {% set btnText = label is defined ? label : 'Kaydet'|trans %}
        {% set btnIcon = icon is defined ? icon : '' %}
        {% set btnType = type is defined ? type : 'primary' %}

        <button type="submit" class="btn btn-{{ btnType }}">
            <i class="{{ btnIcon }}"></i> {{ btnText }}
        </button>
    </div>
</div>