<div class="row">
    {% if app.user.displayName is same as(null) or app.user.phone is same as(null) %}
        <div class="col-md-12">
            {% set warnPath = path('app_admin_profile_edit', { theUser: app.user.id }) %}
            {% set warnText = "Kullanıcı adı veya telefon numaranız boş görünüyor. Her şeyin doğru çalışabilmesi için profilinizi tamamlayın."|trans ~ ' <a class="alert-link" href="' ~ warnPath ~ '">' ~ 'Profilini Tamamla'|trans ~ '</a>' %}
            {{ component('_alert_component', { text: warnText, type: "danger"}) }}
        </div>
    {% endif %}
</div>