<!DOCTYPE html>

<html lang="{{ app.request.locale }}" class="light-style layout-navbar-fixed layout-menu-fixed layout-compact" dir="ltr"
      data-theme="theme-default" data-assets-path="../../assets/"
      data-template="vertical-menu-template-no-customizer-starter">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>

    <title>{% block pageTitle %}{% endblock %}</title>

    {{ include('layout/partials/_head.html.twig') }}
</head>

<body>
<!-- Content -->

<!-- Error -->
<div class="container-xxl container-p-y">
    {% block body %}
    {% endblock %}
</div>
<!-- /Error -->

<!-- Core Scripts -->
{% block appScripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}


</body>
</html>
