{% extends 'layout/admin.html.twig' %}

{% block pageTitle %}{{ 'Takımdan Çıkar'|trans }}{% endblock %}
{% block contentTitle %}{{ 'Takımdan Çıkar'|trans }}{% endblock %}

{% block body %}

    <!-- Header -->
    {{ include('admin/profile/_header.html.twig') }}
    <!--/ Header -->

    <!-- Content -->
    <div class="col-12">
        <div class="card mb-4">
            <h5 class="card-header">{{ 'Takımdan Çıkar'|trans }}</h5>
            <hr class="m-0" />
            <div class="card-body">

            </div>
        </div>
    </div>
    <!--/ Content -->

{% endblock %}